#############################################################################
# TFVars file                                                               #
#############################################################################
project_id    = ""
region        = "europe-west6"
zone          = "europe-west6-a"
stack_name    = "backend-otel-blueprints"

#############################################################################
# VPC and subnets                                                           #
#############################################################################
vpc_name = "vpc-otel-blueprints"
vpc_subnets = [
  {
    subnet_name           = "subnet-gke-europe-west6"
    subnet_ip             = "10.16.0.0/16"
    subnet_region         = "europe-west6"
    subnet_private_access = "true"
  },
]

vpc_subnets_secondary_ranges = {
  "subnet-gke-europe-west6" = [
    {
      range_name    = "subnet-gke-europe-west6-services"
      ip_cidr_range = "10.17.0.0/16"
    },
    {
      range_name    = "subnet-gke-europe-west6-pods"
      ip_cidr_range = "10.0.0.0/12"
    },
  ],
}

#############################################################################
# IAP proxy                                                                 #
#############################################################################
iap_proxy_subnet_cidr_range = "10.18.0.0/24"

#############################################################################
# GKE cluster                                                               #
#############################################################################
gke_cluster_name                     = "gke-otel-blueprints"
gke_cluster_regional                 = true
gke_cluster_enable_private_endpoint  = false
gke_cluster_enable_private_nodes     = true
gke_cluster_remove_default_node_pool = true
gke_cluster_enable_creating_service_account = false

gke_cluster_master_ipv4_cidr_block = "172.16.0.0/28"
gke_cluster_release_channel        = "REGULAR"
gke_cluster_version                = "1.29.1-gke.1589017"

gke_cluster_enable_horizontal_pod_autoscaling = true
gke_cluster_enable_vertical_pod_autoscaling   = false
gke_cluster_enable_config_connector           = true
gke_cluster_enable_registry_access            = true
gke_cluster_enable_gateway_api                = true
gke_enable_managed_prometheus                 = true

gke_cluster_node_pools = [
  {
    name                      = "system-node-pool"
    machine_type              = "n2-standard-4"
    autoscaling               = true
    min_count                 = 1
    max_count                 = 3
    local_ssd_count           = 0
    spot                      = false
    local_ssd_ephemeral_count = 0
    disk_size_gb              = 150
    disk_type                 = "pd-standard"
    image_type                = "COS_CONTAINERD"
    enable_gcfs               = false
    enable_gvnic              = false
    auto_repair               = true
    auto_upgrade              = true
    preemptible               = false
    initial_node_count        = 1
  },
  {
    name                      = "worker-node-pool"
    machine_type              = "n2-standard-2"
    node_locations            = "europe-west6-a"
    autoscaling               = true
    min_count                 = 1
    max_count                 = 3
    local_ssd_count           = 0
    spot                      = true
    local_ssd_ephemeral_count = 0
    disk_size_gb              = 150
    disk_type                 = "pd-standard"
    image_type                = "COS_CONTAINERD"
    enable_gcfs               = true
    enable_gvnic              = false
    auto_repair               = true
    auto_upgrade              = true
    preemptible               = false
    initial_node_count        = 1
  },
]

gke_cluster_node_pools_labels = {
  "worker-node-pool" = {
    "layer" = "blueprints",
  },
}

gke_cluster_node_pools_tags = {
  "all" = ["gke-otel-blueprints-node"]
}

gke_cluster_node_pools_taints = {
  "worker-node-pool" = [
    {
      key    = "layer"
      value  = "blueprints"
      effect = "NO_SCHEDULE"
    }
  ]
}

otel_operator_settings = {
  "manager.featureGates" = "operator.autoinstrumentation.go"
}

config_connector_iam_roles = [
  "roles/owner",
] 

email_user = ""